/* main/static/css/styles.css */

/* Общая структура страницы */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Занимает всё доступное пространство */
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
}

/* main/static/css/styles.css */

.navbar-nav .nav-link.active {
    color: #fff !important;
    background-color: #0d6efd;
}

/* Анимация навигационной панели */
.navbar-nav .nav-link:hover {
    color: #0d6efd !important;
}

.navbar-nav .nav-link.active {
    color: #fff !important;
    background-color: #0d6efd;
}

/* Адаптивность */
@media (max-width: 992px) {
    .navbar-brand img {
        width: 30px;
        height: 30px;
    }
} 

/* main/static/css/styles.css */

.contrast-mode {
    background-color: black !important;
    color: white !important;
}

.contrast-mode * {
    color: white !important; /* Убедитесь, что все дочерние элементы также имеют белый цвет */
}

.contrast-mode header,
.contrast-mode footer {
    background-color: #333 !important; /* Серый фон для шапки и подвала */
    color: white !important;           /* Белый текст */
}

.btn-secondary {
    background-color: #6c757d; /* Светло-серый цвет */
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268; /* Темнее при наведении */
    border-color: #545b62;
}

/* static/css/styles.css */

.card {
    margin-bottom: 20px;
}


/* static/css/styles.css */

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text strong {
    font-weight: bold;
}

.card-text div {
    margin-bottom: 10px;
}

.card-text .d-flex {
    justify-content: space-between;
}